@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

a {
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  background-color: #f2f2f2;
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  padding-left: 70px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation-list {
  list-style: none;
  padding-left: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 214px;
}

.navigation-item {
  margin-right: 32px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.navigation-user-item {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.navigation-link {
  color: #000;
}

.active {
  border-bottom: 2px solid #756257;
  padding-bottom: 21px;
}

.visually-hidden {
  visibility: hidden;
  position: relative;
}

.search {
  visibility: visible;
  background: url(../img/svg/search.svg) no-repeat;
}

.heart {
  visibility: visible;
  background: url(../img/svg/heart.svg) no-repeat;
}

.button-header {
  background: #756157;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: white;
  padding: 8px 34px;
}

.main-inner {
  padding: 0 70px;
  background: url(../img/catalog-background.png) no-repeat;
}

.inner-header {
  text-align: left;
  color: white;
  padding-top: 40px;
  margin-bottom: 40px;
}

h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcumbs {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home {
  position: absolute;
  background: 0% 50% url(../img/svg/home.svg) no-repeat, 20px 50% url(../img/svg/arrow.svg) no-repeat;
}

.hotels {
  margin-left: 40px;
}

.breadcumbs-link {
  display: block;
  color: white;
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter {
  min-height: 200px;
  margin-bottom: 120px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-filter-group {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-legend {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-list {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.typefield-from {
  padding: 12px 20px 12px 20px;
  background: #F2F2F2;
  border-radius: 4px 0px 0px 4px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.typefield-to {
  padding: 12px 20px 12px 20px;
  background: #F2F2F2;
  border-radius: 0px 4px 4px 0px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.apply {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  background: #82B3D3;
  border-radius: 4px;
  border: none;
  padding: 8px 50px;
  margin: 55px 0 30px 0;
}

.refresh {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  background: none;
  border-radius: 4px;
  border: none;
  padding: 8px 50px;
}

.subscription-title {
  color: black;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 100px;
}

.subscription-text {
  color: black;
  font-size: 22px;
  line-height: 26px;
  margin: 0 330px 54px 330px;
}

.newsletter {
  padding-bottom: 100px;
}

.field {
  display: inline-block;
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border-style: hidden;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.6;
  padding: 14px 345px 14px 20px;
}

.newsletter-button {
  display: inline-block;
  background: #82B3D3;
  border-radius: 0 4px 4px 0;
  border-style: hidden;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: white;
  padding: 8px 50px;
}

.page-footer {
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 50px;
  padding: 0 70px;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  margin: 0;
  min-width: 70px;
}

.media-vk {
  background: 50% url(../img/svg/vkicon.svg) no-repeat;
}

.media-tg {
  background: 50% url(../img/svg/tgicon.svg) no-repeat;
}

.media-yt {
  background: 50% url(../img/svg/yticon.svg) no-repeat;
}

.phone {
  list-style: none;
  color: #000;
  font-size: 40px;
}

.academy-link {
  line-height: 50px;
  padding-left: 70px;
  background: url(../img/svg/html-academy-icon.svg) no-repeat;
}
