@charset "UTF-8";
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  background-color: #f2f2f2;
}

.container {
  max-width: 1200px;
  margin: auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  width: 1060px;
  min-height: 64px;
  margin-bottom: -11px;
}

.header-logo-link:focus {
  outline: 2px solid #756257;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 920px;
  min-height: 64px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 450px;
  margin-left: 30px;
  min-height: 64px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-user {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  margin-left: auto;
  max-width: 350px;
}

.navigation-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  height: 64px;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

.navigation-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #000000;
  outline: none;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  padding: 20px 0;
  margin: 0 16px;
}

.navigation-link:focus {
  outline: 2px solid #756257;
  border-radius: 10px;
}

.active {
  border-bottom: 2px solid #756257;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 22px 12px;
  display: inline-block;
  background: center url("../img/svg/search.svg") no-repeat;
}

.heart {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 22px 12px;
  margin-right: 20px;
  display: inline-block;
  background: center url("../img/svg/heart.svg") no-repeat;
  position: relative;
}

.heart::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  background: 10px 10px url("../img/svg/number.svg") no-repeat;
}

.button-header {
  font-weight: 700;
  background: #756157;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 8px 34px;
  margin: 0;
  outline: none;
}

.button-header:hover {
  background: #615048;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button-header:focus {
  background: #615048;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.button-header:active {
  color: rgba(255, 255, 255, 0.3);
  background: #756157;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button-header:disabled {
  background: #e5e5e5;
}

.main {
  text-align: center;
}

.main-background {
  min-height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: bottom url("../img/svg/divider.svg") no-repeat, 100% url("../img/index-background.jpg") no-repeat;
  background-color: rgba(148, 45, 31, 0.435);
  margin-bottom: 70px;
}

.main-background-welcome {
  display: block;
  margin: auto;
  padding: 51px 0 82px 0;
}

.introduce-title {
  margin: 0 270px 25px 270px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.introduce-text {
  margin-bottom: 93px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.introduce-list {
  margin-bottom: 64px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 0;
}

.introduce-list-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 384px;
  min-width: 400px;
  color: #333333;
  padding: 101px 85px;
  max-width: 400px;
}

.introduce-list-item:nth-child(1) {
  color: #ffffff;
  background: #82b3d3;
}

.introduce-list-item:nth-child(2) {
  min-width: 800px;
  height: 384px;
  padding: 0;
}

.introduce-list-item:nth-child(3) {
  background: rgba(131, 179, 211, 0.12);
  padding: 112px 85px;
}

.introduce-list-item:nth-child(4) {
  background: rgba(131, 179, 211, 0.2);
  padding: 112px 85px;
}

.introduce-list-item:nth-child(5) {
  background: rgba(131, 179, 211, 0.12);
  padding: 112px 85px;
}

.introduce-list-item:nth-child(6) {
  min-width: 800px;
  height: 384px;
  padding: 0;
}

.introduce-list-item:nth-child(7) {
  color: #ffffff;
  background: #82b3d3;
}

.introduce-list-title {
  margin: 0;
  margin-bottom: 62px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  position: relative;
}

.introduce-list-title::after {
  content: "";
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: -30px;
  left: 85px;
}

.black {
  color: #000000;
}

.black::after {
  content: "";
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: -30px;
  left: 85px;
}

.introduce-list-text {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
}

.benefits {
  margin-bottom: 92px;
}

.benefits-title {
  margin: 0 345px 20px 345px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.benefits-text {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 65px;
  color: #333333;
}

.benefits-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits-list-item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 75px 60px 60px 60px;
  min-width: 400px;
  min-height: 385px;
}

.benefits-list-item:nth-child(1) {
  background: rgba(131, 179, 211, 0.12) center 80px url("../img/svg/house.svg") no-repeat;
}

.benefits-list-item:nth-child(2) {
  background: center 80px url("../img/svg/burger.svg") no-repeat;
}

.benefits-list-item:nth-child(3) {
  background: rgba(131, 179, 211, 0.12) center 80px url("../img/svg/present.svg") no-repeat;
}

.benefits-list-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 106px;
  margin-bottom: 30px;
}

.benefits-list-text {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.hotel-title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hotel-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0 300px 55px 300px;
}

.hotel-link {
  text-align: center;
  display: inline-block;
  font-family: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  min-width: 270px;
  min-height: 36px;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
  padding: 8px 44px;
  margin-bottom: 96px;
}

.hotel-link:hover {
  background: #615048;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hotel-link:focus {
  background: #615048;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.hotel-link:active {
  color: rgba(255, 255, 255, 0.3);
  background: #756157;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hotel-link:disabled {
  background: #e5e5e5;
}

.subscription {
  background: url("../img/subscribe.jpg");
  background-color: rgba(147, 45, 31, 0.435);
  background-size: cover;
}

.subscription-title {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 97px;
}

.subscription-text {
  text-align: center;
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  margin: 0 330px 54px 330px;
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 103px;
}

.field {
  font-family: inherit;
  background: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border-style: hidden;
  font-size: 18px;
  line-height: 24px;
  padding: 14px 225px 14px 20px;
}

.field:hover {
  background: #e6e6e6;
}

.field:active, .field:hover {
  outline: none;
  opacity: 1;
}

.field::-webkit-input-placeholder {
  opacity: 0.6;
}

.field:-ms-input-placeholder {
  opacity: 0.6;
}

.field::-ms-input-placeholder {
  opacity: 0.6;
}

.field::placeholder {
  opacity: 0.6;
}

.newsletter-button {
  font-family: inherit;
  background: #82b3d3;
  border-radius: 0 4px 4px 0;
  outline-style: none;
  border-style: hidden;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 8px 50px;
}

.newsletter-button:hover {
  background: #68a2ca;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.newsletter-button:focus {
  background: #68a2ca;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.newsletter-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #82b3d3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.newsletter-button:disabled {
  background: #e5e5e5;
}

.page-footer {
  min-height: 129px;
  width: 1060px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: row;
  line-height: 50px;
  margin: 0 auto;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 200px;
  min-height: 40px;
}

.media-item {
  width: 47px;
  height: 40px;
}

.media-link {
  display: inline-block;
  opacity: 0.5;
  width: 50px;
  height: 40px;
}

.media-link:focus {
  outline: none;
  opacity: 1;
}

.media-link:hover {
  outline: none;
  opacity: 1;
}

.media-link:active {
  opacity: 0.3;
}

.vk {
  background: url("../img/svg/vk-icon.svg") no-repeat;
}

.tg {
  background: url("../img/svg/tg-icon.svg") no-repeat;
}

.yt {
  background: url("../img/svg/yt-icon.svg") no-repeat;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin: 0 auto;
  max-width: 720px;
}

.phone-link {
  vertical-align: bottom;
  text-decoration: none;
  list-style: none;
  color: #000000;
  font-size: 40px;
}

.phone-link:hover {
  opacity: 0.7;
}

.phone-link:focus {
  outline: none;
  opacity: 0.7;
}

.phone-link:active {
  opacity: 0.5;
}

.academy {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 230px;
  list-style: none;
}

.academy-item {
  width: 115px;
  height: 33px;
}

.academy-link {
  display: inline-block;
  margin: 0;
  text-decoration: none;
  width: 115px;
  height: 33px;
  background: url("../img/svg/html-academy-icon.svg") no-repeat;
}

.academy-link:hover {
  opacity: 0.7;
}

.academy-link:focus {
  outline: none;
  opacity: 0.7;
}

.academy-link:active {
  opacity: 0.5;
}

.filter-section {
  min-height: 400px;
  padding: 0 70px 12px 70px;
  background: url("../img/catalog-background.jpg") no-repeat;
  background-color: rgba(148, 45, 31, 0.435);
  background-size: cover;
}

.inner-header {
  text-align: left;
  color: #ffffff;
  padding-top: 35px;
  margin-bottom: 40px;
}

.main-title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 8px;
}

.breadcumbs {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.home {
  position: relative;
  width: 13px;
  height: 13px;
  background: url("../img/svg/home.svg") no-repeat;
}

.home::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 7px;
  height: 10px;
  background: center url("../img/svg/arrow.svg") no-repeat;
  left: 24px;
  top: 3px;
}

.hotels {
  margin-left: 30px;
  visibility: visible;
  font-size: 16px;
  line-height: 21px;
}

.breadcumbs-item {
  display: inline-block;
}

.breadcumbs-link {
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
}

.breadcumbs-link:hover,
.breadcumbs-link:active {
  opacity: 0.6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.breadcumbs-link:focus,
.breadcumbs-link:disabled {
  border-style: none;
}

.catalog-filter {
  min-height: 200px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 70px;
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 66px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-wrapper-with-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog-filter-group {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-legend {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.control {
  position: relative;
}

.control-mark-checkbox {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 25%;
  background-color: #ffffff;
  top: 2px;
}

.control-mark-checkbox:focus {
  outline: 3px solid #83b3d3;
}

.control-input[type="checkbox"]:checked + .control-mark-checkbox::after {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 15px;
  height: 10px;
  background: url("../img/svg/checkbox.svg") no-repeat;
  content: "";
}

.control-mark-radio {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  top: 2px;
}

.control-input[type="radio"]:checked + .control-mark-radio::before {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.control-lable {
  margin-left: 38px;
}

.control:hover {
  opacity: 0.3;
}

.control:active {
  opacity: 0.3;
}

.control-input:focus + .control-mark-checkbox,
.control-input:focus + .control-mark-radio {
  outline: 3px solid #83b3d3;
}

.typefield-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 2px;
}

.from {
  position: relative;
}

.from::after {
  content: "от";
  position: absolute;
  color: #000000;
  opacity: 0.5;
  left: 108px;
  top: 15px;
}

.typefield-from {
  font-family: inherit;
  padding: 12px 20px;
  background: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 103px;
}

.to {
  position: relative;
}

.to::after {
  content: "до";
  position: absolute;
  color: #000000;
  opacity: 0.5;
  right: 20px;
  top: 15px;
}

.typefield-to {
  padding: 12px 20px;
  background: #f2f2f2;
  border-radius: 0 4px 4px 0;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 103px;
}

.typefield-from:focus,
.typefield-to:focus {
  outline: 3px solid #83b3d3;
}

.typefield-from:active,
.typefield-to:active {
  outline: 2px solid #000000;
}

.typefield-from::-webkit-outer-spin-button,
.typefield-from::-webkit-inner-spin-button,
.typefield-to::-webkit-outer-spin-button,
.typefield-to::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.typefield-from[type="number"],
.typefield-to[type="number"] {
  -moz-appearance: textfield;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: #969696;
  margin-top: 44px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 25%;
  border: none;
  cursor: pointer;
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
  -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  left: 210px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.apply {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: #82b3d3;
  border-radius: 4px;
  border: none;
  padding: 8px 50px;
  margin: 55px 0 30px 0;
}

.apply:hover {
  background: #68a2ca;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.apply:focus {
  outline: none;
  background: #68a2ca;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.apply:active {
  color: rgba(255, 255, 255, 0.3);
  background: #82b3d3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.apply:disabled {
  background: #e5e5e5;
}

.refresh {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: none;
  border-radius: 4px;
  border: none;
  padding: 8px 50px;
}

.refresh:hover {
  color: rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.refresh:focus {
  outline: 3px solid #83b3d3;
}

.refresh:active {
  color: rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.refresh:disabled {
  color: rgba(255, 255, 255, 0.1);
}

.sort {
  margin: 50px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;
  min-height: 50px;
}

.search-result {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  max-width: 500px;
}

.select-controls {
  font-family: inherit;
  margin-left: auto;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  font-size: 18px;
  line-height: 21px;
  min-width: 292px;
  padding: 12px 100px 12px 20px;
  font-style: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: right 20px center url("../img/svg/select-arrow.svg") no-repeat;
}

.select-controls:hover {
  outline: none;
  border: 2px solid #68a2ca;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.select-controls:focus {
  outline: none;
  border: 2px solid #68a2ca;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.select-controls:active, .select-controls:hover {
  border: 2px solid #3f5e72;
}

.select-controls:disabled {
  opacity: 0.3;
}

.select-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 230px;
  margin-left: 62px;
}

.select-list-item {
  width: 48px;
  height: 48px;
  margin-left: 8px;
  margin-bottom: 1px;
}

.button-small {
  display: inline-block;
  width: 44px;
  height: 44px;
  border: 2px solid #000000;
  border-radius: 4px;
  background: 50% url("../img/svg/small-view.svg") no-repeat;
}

.button-small:hover, .button-small :active {
  border: 2px solid #000000;
  border-radius: 4px;
}

.button-small:focus {
  outline: none;
  border: 2px solid #68a2ca;
  border-radius: 4px;
}

.button-big {
  display: inline-block;
  width: 44px;
  height: 44px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background: 50% url("../img/svg/big-view.svg") no-repeat;
}

.button-big:hover, .button-big :active {
  border: 2px solid #000000;
  border-radius: 4px;
}

.button-big:focus {
  outline: none;
  border: 2px solid #68a2ca;
  border-radius: 4px;
}

.button-list {
  display: inline-block;
  width: 44px;
  height: 44px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background: 50% url("../img/svg/list-view.svg") no-repeat;
}

.button-list:hover, .button-list :active {
  border: 2px solid #000000;
  border-radius: 4px;
}

.button-list:focus {
  outline: none;
  border: 2px solid #68a2ca;
  border-radius: 4px;
}

.catalog {
  margin: 0 70px 40px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 20px;
}

.catalog-card {
  padding: 20px;
  margin-bottom: 20px;
  outline: 1px solid #e6e6e6;
  border-radius: 4px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 140px 140px;
  grid-template-columns: 140px 140px;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  row-gap: 16px;
}

.catalog-card-link {
  text-decoration: none;
  grid-column: 1 / -1;
  height: 212px;
}

.catalog-card-title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  grid-column: 1 / -1;
  text-align-last: left;
}

.catalog-card-img {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.catalog-card-type {
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.catalog-type-price {
  padding: 0;
  margin: 0;
  text-align: right;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.catalog-card-button {
  text-decoration: none;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  background: #82b3d3;
  color: #ffffff;
  padding: 8px 20px;
}

.catalog-card-button:hover {
  background: #68a2ca;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.catalog-card-button:focus {
  outline: none;
  background: #68a2ca;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.catalog-card-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #82b3d3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.catalog-card-button:disabled {
  background: #e5e5e5;
}

.favorite {
  background: #7db54f;
}

.favorite:hover {
  background: #6c9e42;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.favorite:focus {
  outline: none;
  background: #6c9e42;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.favorite:active {
  color: rgba(255, 255, 255, 0.3);
  background: #7db54f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.favorite:disabled {
  background: #e5e5e5;
}

.info {
  background: #756157;
  color: #ffffff;
  padding: 8px 26px;
}

.info:hover {
  background: #615048;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.info:focus {
  background: #615048;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.info:active {
  color: rgba(255, 255, 255, 0.3);
  background: #756157;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.info:disabled {
  background: #e5e5e5;
}

.raiting-info {
  background: #f2f2f2;
  color: #333333;
  padding: 8px 20px;
}

.raiting-info:hover, .raiting-info :disabled, .raiting-info :focus, .raiting-info :active {
  background: #f2f2f2;
  color: #333333;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  text-align: left;
  margin: 0 70px 60px 70px;
}

.pagination-link {
  text-decoration: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;
  text-align: center;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background: #82b3d3;
  border-radius: 4px;
}

.pagination-link:hover,
.pagination-link:focus {
  background: #68a2ca;
  border-style: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background: #82b3d3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.curent,
.curent:hover,
.curent:active,
.curent:focus {
  color: #000000;
  background: #f2f2f2;
}

.dots,
.dots:hover,
.dots:active,
.dots:focus {
  color: #000000;
  background: none;
}

.subscription-catalog-page {
  background: none;
  text-align: center;
}

.subscription-title-catalog-page {
  padding: 0;
  margin: 0;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 95px;
}

.subscription-text-catalog-page {
  color: #000000;
  font-size: 22px;
  line-height: 26px;
  margin: 0 330px 54px 330px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background: #ffffff;
  -webkit-box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-button {
  font-family: inherit;
  position: absolute;
  left: 85%;
  width: 52px;
  height: 52px;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  border-radius: 50%;
  background: 50% url("../img/svg/cross.svg") no-repeat, #f2f2f2;
}

.modal-button:hover {
  background: 50% url("../img/svg/cross.svg") no-repeat, #e6e6e6;
}

.modal-button:focus {
  background: 50% url("../img/svg/cross.svg") no-repeat, #e6e6e6;
  outline: 3px solid #83B3D3;
}

.modal-button:active {
  background: 50% url("../img/svg/cross.svg") no-repeat, #e6e6e6;
  opacity: 0.5;
  outline: none;
}

.modal-content-title {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 64px;
}

.modal-form {
  border: none;
  padding: 0;
  margin: 0;
}

.date-wrapper {
  margin-bottom: 20px;
}

.form-text {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.children-tooltip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tooltip {
  position: relative;
  margin-left: 10px;
  width: 26px;
  height: 26px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  height: 26px;
  padding: 0;
  margin: 0;
  display: block;
  border-radius: 50%;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.tooltip-text {
  font-family: inherit;
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background: #333333;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: #ffffff;
  padding: 19px 18px 23px 22px;
  min-width: 216px;
  top: 40px;
  right: -112px;
  display: none;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 19px;
  height: 9px;
  top: -9px;
  left: 121px;
  background: url("../img/svg/triangle.svg") no-repeat;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.button-wrapper {
  position: relative;
}

.plus {
  position: absolute;
  width: 20px;
  height: 20px;
  background: center url("../img/svg/plus.svg") no-repeat;
  top: 14px;
  right: 10px;
  border: none;
  opacity: 0.5;
}

.plus:hover {
  opacity: 1;
}

.plus:focus {
  outline: 3px solid #82b3d3;
  border-radius: 4px;
  opacity: 1;
}

.plus:active {
  opacity: 0.5;
  outline: none;
}

.minus {
  position: absolute;
  width: 20px;
  height: 20px;
  background: center url("../img/svg/minus.svg") no-repeat;
  top: 14px;
  left: 10px;
  border: none;
  opacity: 0.5;
}

.minus:hover {
  opacity: 1;
}

.minus:focus {
  outline: 3px solid #82b3d3;
  border-radius: 4px;
  opacity: 1;
}

.minus:active {
  opacity: 0.5;
  outline: none;
}

.date-form {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-bottom: 5px;
}

.tip {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  margin-left: 155px;
  margin-bottom: 23px;
}

.mistake {
  color: #ff5757;
}

.fine {
  color: #333333;
}

.form-typefield {
  font-family: inherit;
  min-width: 400px;
  padding: 12px 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background: #f2f2f2;
  border: none;
  outline: none;
  border-radius: 4px;
}

.form-typefield:hover {
  background: #e6e6e6;
}

.form-typefield:focus {
  outline: 3px solid #82b3d3;
}

.form-typefield:active, .form-typefield:hover {
  outline: 2px solid #000000;
  opacity: 1;
}

.form-typefield::-webkit-input-placeholder {
  opacity: 0.6;
}

.form-typefield:-ms-input-placeholder {
  opacity: 0.6;
}

.form-typefield::-ms-input-placeholder {
  opacity: 0.6;
}

.form-typefield::placeholder {
  opacity: 0.6;
}

.qt-ty-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.adults-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 46px;
}

.children-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 46px;
}

.q-ty-form {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.form-number::-webkit-outer-spin-button,
.form-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.form-number[type="number"],
.to-number[type="number"] {
  -moz-appearance: textfield;
}

.form-number {
  font-family: inherit;
  border: none;
  outline: none;
  text-align: center;
  width: 110px;
  height: 48px;
  background: #f2f2f2;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  padding: 0;
  border-radius: 4px;
}

.form-submit {
  font-family: inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 100%;
  min-height: 60px;
  background: #83b3d3;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

.form-submit:hover {
  background: #68a2ca;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form-submit:focus {
  background: #68a2ca;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form-submit:active {
  color: rgba(255, 255, 255, 0.3);
  background: #83b3d3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form-submit:disabled {
  background: #e5e5e5;
}
