@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

a {
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  background-color: #f2f2f2;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 70px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 30px;
  gap: 295px;
}

.navigation-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navigation-item {
  margin-right: 32px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.navigation-link {
  color: #000;
}

.active {
  border-bottom: 2px solid #756257;
  padding-bottom: 21px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search {
  width: 20px;
  height: 20px;
  margin-right: 25px;
  display: inline-block;
  background: url(../img/svg/search.svg) no-repeat;
}

.heart {
  width: 20px;
  height: 20px;
  margin-right: 33px;
  display: inline-block;
  background: url(../img/svg/heart.svg) no-repeat;
}

.button-header {
  font-weight: 700;
  background: #756157;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: white;
  padding: 8px 34px;
}

.main {
  text-align: center;
}

.main-background {
  min-height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: bottom url(../img/svg/divider.svg) no-repeat, 100% url(../img/index-background.jpg) no-repeat;
  margin-bottom: 70px;
}

.main-background-welcome {
  display: block;
  margin: auto;
  padding: 51px 0 82px 0;
}

.introduce-title {
  margin: 0 270px 25px 270px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.introduce-text {
  margin-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
}

.introduce-list {
  margin-bottom: 64px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.introduce-list-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 80px;
  max-height: 384px;
  max-width: 400px;
}

.introduce-list-item:nth-child(1) {
  color: white;
  background: #82B3D3;
}

.introduce-list-item:nth-child(2) {
  padding: 0;
  margin-right: 400px;
}

.introduce-list-item:nth-child(3) {
  background: rgba(131, 179, 211, 0.12);
}

.introduce-list-item:nth-child(4) {
  background: rgba(131, 179, 211, 0.2);
}

.introduce-list-item:nth-child(5) {
  background: rgba(131, 179, 211, 0.12);
}

.introduce-list-item:nth-child(6) {
  padding: 0;
  margin-right: 400px;
}

.introduce-list-item:nth-child(7) {
  color: white;
  background: #82B3D3;
}

.introduce-list-title {
  margin: 0 30px 70px 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.introduce-list-text {
  padding: 0;
  font-size: 18px;
  line-height: 21px;
}

.benefits-title {
  margin: 0 345px 20px 345px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.benefits-text {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 70px;
}

.benefits-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.benefits-list-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 180px 60px 60px 60px;
  min-width: 400px;
  min-height: 385px;
}

.benefits-list-item:nth-child(1) {
  background: rgba(131, 179, 211, 0.12) url(../img/svg/house.svg) no-repeat;
  background-position: 50% 25%;
}

.benefits-list-item:nth-child(2) {
  background: url(../img/svg/burger.svg) no-repeat;
  background-position: 50% 25%;
}

.benefits-list-item:nth-child(3) {
  background: rgba(131, 179, 211, 0.12) url(../img/svg/present.svg) no-repeat;
  background-position: 50% 25%;
}

.benefits-list-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.benefits-list-text {
  font-size: 18px;
  line-height: 21px;
}

.hotel {
  margin-bottom: 100px;
}

.hotel-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hotel-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0 300px 50px 300px;
}

.hotel-link {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  line-height: 36px;
  width: 376px;
  height: 52px;
  color: #fff;
  background: #756157;
  border-radius: 4px;
  margin-bottom: 96px;
  padding: 8px 50px;
}

.subscription {
  background: url(../img/subscribe.png);
  background-color: #ca7a52;
}

.subscription-title {
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 100px;
}

.subscription-text {
  color: #fff;
  font-size: 22px;
  line-height: 26px;
  margin: 0 330px 54px 330px;
}

.newsletter {
  padding-bottom: 100px;
}

.field {
  display: inline-block;
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border-style: hidden;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.6;
  padding: 14px 345px 14px 20px;
}

.newsletter-button {
  display: inline-block;
  background: #82B3D3;
  border-radius: 0 4px 4px 0;
  border-style: hidden;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: white;
  padding: 8px 50px;
}

.page-footer {
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 50px;
  margin: 0 70px;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  margin: 0;
  min-width: 70px;
}

.media-vk {
  width: 50px;
  height: 40px;
  background: 50% url(../img/svg/vkicon.svg) no-repeat;
}

.media-tg {
  width: 50px;
  height: 40px;
  background: 50% url(../img/svg/tgicon.svg) no-repeat;
}

.media-yt {
  width: 50px;
  height: 40px;
  background: 50% url(../img/svg/yticon.svg) no-repeat;
}

.phone {
  list-style: none;
  color: #000;
  font-size: 40px;
}

.academy-link {
  width: 115px;
  height: 33px;
  background: url(../img/svg/html-academy-icon.svg) no-repeat;
}
