@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
a {
  text-decoration: none;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
	background-color: #f2f2f2;
  text-align: center;
}
h1, h2, h3, h4, h5, h6, p, ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
	max-width: 1200px;
  margin: auto;
	background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
//------------------------Header
.header {
  display: flex;
  max-height: 64px;
  align-items: center;
}
.header-logo {
  padding-left: 70px;
}
.navigation {
  display: flex;
  justify-content: space-between;
}
.navigation-list {
  list-style: none;
  padding-left: 44px;
  display: flex;
}
.navigation-user {
  display: flex;
  list-style: none;
  padding-left: 214px;
}
.navigation-item {
  margin-right: 32px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
.navigation-user-item {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
.navigation-link {
  color: #000;
}
.active {
  border-bottom: 2px solid #756257;
  padding-bottom: 21px;
}
.visually-hidden {
  visibility: hidden;
  position: relative;
  overflow: hidden;
}
.search {
  visibility: visible;
  background: url(../img/svg/search.svg) no-repeat;
}
.heart{
  visibility: visible;
  background: url(../img/svg/heart.svg) no-repeat;
}
.button-header {
  background: #756157;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: white;
  padding: 8px 34px;
}
//--------------------------Main
.main-inner {
}
.filter-section {
  min-height: 400px;
  padding: 0 70px;
  background: url(../img/catalog-background.png) no-repeat;
  margin-bottom: 50px;
}
.inner-header {
  text-align: left;
  color: white;
  padding-top: 40px;
  margin-bottom: 40px;
}
h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}
.breadcumbs {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.home {
  position: absolute;
  background: 0% 50% url(../img/svg/home.svg) no-repeat, 20px 50% url(../img/svg/arrow.svg) no-repeat;
}
.hotels {
  margin-left: 40px;
}
.breadcumbs-item {

}
.breadcumbs-link {
  display: block;
  color: white;
  font-size: 16px;
  line-height: 21px;
}
.catalog-products {
}
.catalog-filter {
  min-height: 200px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.catalog-filter-group {
  box-sizing: border-box;
  color: #fff;
  border: none;
  margin: 0;
  padding: 0;
}
.catalog-filter-legend {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.catalog-filter-list {
  font-size: 18px;
  line-height: 23px;

}
.catalog-filter-item {
  margin-bottom: 16px;
}
.control {
}
.control-input {
}
.typefield-from{
  padding: 12px 20px 12px 20px;
  background: #F2F2F2;
  border-radius: 4px 0px 0px 4px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.typefield-to{
  padding: 12px 20px 12px 20px;
  background: #F2F2F2;
  border-radius: 0px 4px 4px 0px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.buttons{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.apply {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  background: #82B3D3;
  border-radius: 4px;
  border: none;
  padding: 8px 50px;
  margin: 55px 0 30px 0;
}
.refresh {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  background: none;
  border-radius: 4px;
  border: none;
  padding: 8px 50px;
}
.sort {
  padding: 0 70px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.search-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.select-controls {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-size: 18px;
  line-height: 21px;
  padding: 14px 100px 20px 14px;
  font-style: inherit;
}
.button-small {

  line-height: 50px;
  background: url(../img/svg/small-view.svg) no-repeat;
}
.button-big {
  line-height: 50px;
  background: url(../img/svg/big-view.svg) no-repeat;
}
.button-list {
  line-height: 50px;
  background: url(../img/svg/list-view.svg) no-repeat;
}

.catalog {
  margin: 0px 70px 0px 70px;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  grid-template-rows: 438px 438px;
  gap: 20px;
}
.catalog-card {
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 20px;
  row-gap: 16px;
}
.catalog-card-link {
  grid-column: 1 / -1;
}
.catalog-card-title {
  grid-column: 1 / -1;
  text-align-last: left;
}
.catalog-card-img {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.catalog-card-type {
  text-align: left;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.catalog-type-price {
  text-align: right;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.catalog-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
}
.info {
  background: #756157;
  color: #ffffff;
  padding: 8px 26px;
}
.favorite {
  background: #82B3D3;
  color: #ffffff;
  padding: 8px 20px;
}
.raiting-info {
  background: #F2F2F2;
  color: #333333;
  padding: 8px 20px;
}
.pagination {
}
.pagination-link {
}

.subscription {
}
.subscription-title {
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 100px;
}
.subscription-text {
  color: rgb(0, 0, 0);
  font-size: 22px;
  line-height: 26px;
  margin: 0 330px 54px 330px;
}
.newsletter {
  padding-bottom: 100px;
}
.field {
  display: inline-block;
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border-style: hidden;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.6;
  padding: 14px 345px 14px 20px;
}
.newsletter-button {
  display: inline-block;
  background: #82B3D3;
  border-radius: 0 4px 4px 0;
  border-style: hidden;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: white;
  padding: 8px 50px;
}
//---------------------Footer
.page-footer {
  min-height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 50px;
  padding: 0 70px;
}
.media {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  min-width: 70px;
}
.media-vk {
  background: 50% url(../img/svg/vkicon.svg) no-repeat;
}
.media-link {
}
.media-tg {
  background: 50% url(../img/svg/tgicon.svg) no-repeat;
}
.media-yt {
  background: 50% url(../img/svg/yticon.svg) no-repeat;
}
.phone {
  list-style: none;
  color: #000;
  font-size: 40px;
}
.academy-link {
  line-height: 50px;
  padding-left: 70px;
  background: url(../img/svg/html-academy-icon.svg) no-repeat;
}
