body {
	background-color: #f2f2f2;
}
.container {
	width: 1200px;
	background-color: #fff;
}
//Header
.page-header {
}
.navigation {
}
.navigation-list {
}
.navigation-item {
}
.navigation-link {
}
.navigation-user {
}
.visually-hidden {
}
//Main
.main-index {
}
.index-background {
}
.background-text {
}
.index-benefits {
}
.benefits-title {
}
.benefits-line {
}
.benefits-text {
}
